@{
    ViewData["Title"] = "Backstage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Backstage";
}

<link href='https://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<style>
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }



    .section2 {
        float: left;
        width: 100%;
        background: #fff;
        position: relative;
        box-shadow: 0 0 5px 0px #333;
    }

    .arrow-wrap {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: -5em;
        margin-left: -5em;
        background: #111;
        width: 10em;
        height: 10em;
        padding: 4em 2em;
        border-radius: 50%;
        font-size: 0.5em;
        display: block;
        box-shadow: 0px 0px 5px 0px #333;
    }

    .arrow {
        float: left;
        position: relative;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3em 3em 0 3em;
        border-color: #ffffff transparent transparent transparent;
        -webkit-transform: rotate(360deg)
    }

        .arrow:after {
            content: '';
            position: absolute;
            top: -3.2em;
            left: -3em;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 3em 3em 0 3em;
            border-color: #111 transparent transparent transparent;
            -webkit-transform: rotate(360deg)
        }

    .hint {
        position: absolute;
        top: 0.6em;
        width: 100%;
        left: 0;
        font-size: 2em;
        font-style: italic;
        text-align: center;
        color: #fff;
        opacity: 0;
    }

    .arrow-wrap:hover .hint {
        opacity: 1;
    }

    .mb-box {
        width: 55%;
        padding: 120px;
        border-radius: 15px;
        border: 2px solid hsla(0, 0%, 85%, 1);
        margin: 0 auto;
        background-color: rgba(222, 237, 240, 0.953);
        box-shadow: 6px 6px 6px 2px gray;
    }

   
    .order {
        position: relative;
        top: -150px;
        left: 40px;
        text-decoration: none;
        border: none;
        padding: 5px;
        width: 15%;
        border-radius: 10px;
        margin-bottom: 15px;
        color: whitesmoke;
        cursor: pointer;
        font-size: 25px;
    }

        .order:hover {
            background-color: gray;
        }

    .logout {
        text-decoration: none;
        border: none;
        background-color: rgba(255, 0, 0, 0.87);
        padding: 5px;
        width: 35%;
        border-radius: 20px;
        margin-bottom: 20px;
        color: white;
        cursor: pointer;
        font-size: 25px;
    }

    .order_F {
        border: 2px solid hsla(0, 0%, 85%, 1);
        padding: 5px;
    }

    .order_R {
        border: 2px solid hsla(0, 0%, 85%, 1);
        padding: 5px;
    }

    .T-title:hover {
        background-color: black;
    }

    .btn-custom {
        background-color: #1B813E;
        border-color: #1B813E;
    }

        .btn-custom:hover {
            background-color: #7BA23F;
            border-color: #7BA23F;
        }

    .sidebar {
        width: 250px;
        position: fixed;
        top: 100px;
        left: 0;
        height: 400px;
        background-color: #f8f9fa;
        border-right: 1px solid #dee2e6;
        padding-top: 20px;
    }

        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #333;
            display: block;
        }

            .sidebar a:hover {
                background-color: #ddd;
            }
</style>

<header>
    <br />
    <br />
    <br />
</header>
<div class="sidebar">
    <a href="@Url.Action("Backstage", "Home")">員工主頁</a>
    <a href="@Url.Action("BackstageContact", "Home")">顧客問題</a>
    <a href="@Url.Action("BackstageProduct", "Home")">產品訂單</a>
    <a href="@Url.Action("News", "Home")">訂房訂單</a>
    <a href="@Url.Action("BackstageMember", "Home")">會員資料管理</a>
    <br />
    <br />
    <form id="logoutForm" asp-action="Logout" asp-controller="Home" method="post">
        <button type="submit" class="logout btn  btn-danger">登出</button>
    </form>

</div>
<div>
    <div>
        <div class="container-md">
            <br><br><br>
            <section class="main section2">
                <br>
                <br>
                <div class="content" id="content" style="text-align: left;  margin: 20px; padding: 20px;">
                    <h1 style="text-align: center;">
                        @Model.Name
                    </h1>
                    <br />
                    <br />
                    <h4>員工ID:@Model.ID</h4>
                    <h4>電話:@Model.Phone</h4>
                    <h4>地址:@Model.Address</h4>
                    <h4>電子信箱:@Model.Email</h4>
                    <h4>部門:@Model.Department</h4>
                </div>
            </section>
            <br><br><br><br><br>
        </div>
        <br><br><br><br><br>
    </div>
    <br><br><br><br><br>
</div>
<br>
<br>
<br>
<br>
<br>